/*
Font imported from Google Fonts.
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
Applies font to all elements.
*/
* {
  font-family: 'Montserrat', sans-serif;
}

/*
Styles for element classes.
*/
.top-div-dateselector{
  width: 100px;
  padding: 4px;
  font-size: 17px;
  text-align: center;
  padding: 7px;
}

.content-div {
  border-left: 2px solid #ffffff;
  padding-left: 16px;
  text-align: left;
}

/*
Styles for element ids.
*/
#title-div{
  margin-bottom: 65px;
}

#top-div{
  margin-bottom: 65px;
}

#middle-div{
  margin-bottom: 65px;
}

#bottom-div{
  margin-bottom: 65px;
}